body{
    /* display: flex;
    justify-content: center;
    margin-top: 6vh; */
    background-color: #cedbeb;
}
/* main{
  display: flex;
    justify-content: center;
    margin-top: 6vh;
   
} */
.border-design{
  margin-top: 6vh;
  margin-left: 20vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #cedbeb;
    width: 50vw;
    height:70vh;
    border-radius: 10px;
    border: 10px double ;
    border-image-source: linear-gradient(45deg, #58ece0, #7841df);
    border-image-slice: 2;
}

.File-Upload-Section{
  grid-column: span-5;
  grid-row:span 4;
  display:flex; 
  flex-direction: column;
  align-items: center;
  
 
}

.container {
    text-align: center;
   margin-top: 10px;
   
  }
  
  .medium-input {
    padding: 10px;
    font-size: 15px;
    width: 17vw;
    /* max-width: 300px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .medium-button {
    padding: 10px 22px;
    font-size: 16px;
    /* background-color: #007bff;
    color: white; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .medium-button:hover {
    background-color: #0056b3;
  }
  
.Drag-Drop-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.25rem dashed blueviolet;
    height: 18.75rem;
    width: 31.25rem;
    cursor: pointer;
    border-radius: 5px;
   
}
  

  .button-section{
    display: flex;
    width: 31.25rem;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(87,155,230,1) 15%, rgba(162,122,235,1) 87%);
  }


  .freespace{
    width: 40vw;
  }
  .new-row{
    padding: 10px 11px;
}
.Form{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px dashed green;
    height: 300px;
    width: 500px;
}
@media (max-width: 1058px ) {
  .Drag-Drop-Form{
    width: 26.25rem;
  }
  .button-section{
    width: 26.265rem;
  }
}
@media (max-width: 893px ) {
  .Drag-Drop-Form{
    width: 21.25rem;
    height: 16.75rem;
  }
  .button-section{
    width: 21.265rem;
  }
}
@media (max-width: 731px ) {
  
  .Drag-Drop-Form{
    width: 21.25rem;
    height: 16.75rem;
  }
  .button-section{
    width: 17.265rem;
  }
}
  